*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
ul {
  align-items: center;
  justify-content: center;
  background-color: gray;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.search-form {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 400px;
  margin-right: auto;

  width: 700px;
  height: 40px;
  border-radius: 2px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 24px;
}

.gallery-item {
  flex-basis: calc((100% - 40px) / 3);
}

.photo-card {
  flex-wrap: wrap;
  align-items: baseline;
  margin-left: 10px;
  margin-top: 10px;
  background-color: honeydew;
}

.photo-img {
  max-width: 100%;
  object-fit: cover;
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

search-input {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

button {
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  color: aliceblue;

  font-size: 24px;
  background-color: rgb(126, 148, 243);
}

.search-input {
  font-size: 24px;
  width: 300px;
  height: 50px;
}

.more-btn {
  display: block;
  margin: 0 auto;
}
