*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  align-items: center;
  justify-content: center;
  background-color: gray;
  margin: 0;
}

.container {
  /* width: 1200px; */
}

.search-form {
  /* display: flex; */
  width: 700px;
  height: 40px;
  border-radius: 2px;
}

.gallery {
  display: flex;
  /* justify-content: space-between; */
  flex-basis: calc((100% - 40px) / 3);
  flex-wrap: wrap;
  /* margin-left: 10px; */
  margin-top: 10px;
  padding: 16px 24px;
}

.photo-card {
  flex-wrap: wrap;

  margin-left: 10px;
  margin-top: 10px;
  background-color: honeydew;
}

.stats {
  display: flex;
  justify-content: space-evenly;
}

button {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: aliceblue;

  font-size: 24px;
  background-color: rgb(126, 148, 243);
  border-radius: 10px;
}

.search-input {
  font-size: 24px;
  width: 300px;
  height: 50px;
}
